.team-preview-wrapper{
    width: 100%;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
    color:var(--black);
    max-height: 180vh !important;
    min-height: 100vh;
height: auto !important;
}

.role-button2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

#team-preview-button{
    border-radius: 8px;
     background-color: var(--golden);
     position: fixed;
     bottom: 1.5em;
     text-transform: capitalize;
     font-family: "poppins";
     font-weight: 500;
  }

  .coin-card-current-team-team-preview {
    border-radius: 12px;
    /* min-width: 10em; */
    width:85%;
    height: 8em;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-content: flex-start;*/
    align-items: center;
    box-shadow: var(--coin-card-shadow);
    transition: 0.2s ease-in-out;
}