.folioplay-bar-content-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 10px;
}

#folioplay-hamburger:hover {
    cursor: pointer;
}

#folioplay-wallet:hover {
    cursor: pointer;
}
.css-yb0lig, .css-10hburv-MuiTypography-root {
    font-family: "poppins" !important;
}

.folioplayBar__headerIconsSpan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.folioplayBar__headerIcons{
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
}
#bar-profile-icon{
    height:24px;
    border-radius:4px;
    background:#d2e0ee52;
    transition: 0.2s all ease-in-out;
}
#bar-profile-icon:hover{
    background-color: #d2e0ee99;
    transition: 0.2s all ease-in-out;

}