.folioplay-bar-content-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 10px;
}

#folioplay-hamburger:hover {
    cursor: pointer;
}

#folioplay-wallet:hover {
    cursor: pointer;
}