.contestTab__valueItem{
    color: var(--grey-shade);
    font-weight: 500;
    font-size: 12px;
}
.active-chip{
    color: #4137F0 !important;
    background: #EFEFFF !important;
    border: 1px solid #D1D0FF !important;
}