.fullpage {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}
.fullpage::-webkit-scrollbar{
    display:none;
}
.no-tournament-text{
    color:var(--grey-shade);
}
.tournaments-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--white);
    min-height: 100%;
    flex-direction: column;
    background-color: "white";
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 2.75em;
}

@media only screen  and (max-width: 800px){
  .ChipsScrollController{
     max-width: 85vw;
     display: flex;
     overflow-x: scroll;
   
  }
}

.css-5xe99f-MuiLinearProgress-bar1 , .css-t752vm {
    background-color: var(--golden) !important;
}

.tournament {
    width: 85%;
    min-height: 9.375em;
    box-shadow: var(--tournament-card-shadow);
    border-radius: 8px;
    background-color: var(--white);
    margin-bottom: 20px;
    color: var(--black);
    padding-top: 1.25em;
    padding-left: 1em;
    padding-right: 1em;
}.tournament:hover{
    cursor: pointer;
}

.tournament-info span:nth-child(2):hover {
    cursor: pointer;
}

.tournament-info {
    font-size: 0.9375em;
    line-height: 20px;
    display: flex;
    align-items: center;
    font-weight: 720;
    margin-bottom: 25px;
}

.tournament-image {
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--dim-white);
}
.disable-join-button{
    background-color: var(--dark-dim-white) !important;
}
.tournament-fee {
    margin-left: auto !important;
    border-radius: 4px !important;
    /* background-color: var(--golden) !important; */
    color: var(--white) !important;
}

.tournament-reward {
    padding-top: 0.3125em;
    color: var(--grey-shade);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11px;
    width: 100%;
    height: 2.5em;
    border-top: 1px solid var(--dim-white);

}
.tournament-reward span{
    display: flex;
    align-items: center;
}
.tournaments-spots {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--grey-shade);
}

.tournamentPage__startTime{
    margin-right: 1rem;
}

#tournament-page-image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/tournament.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.spots-wrapper{
    display: flex;
    justify-content: space-between;
}

.referralHeader{
    margin-bottom: 2rem;
}

.referralModal__inputBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 19rem;
}

.referralModal__modalHeading{
    margin-bottom: 1rem;
}
.referralModal__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*padding: 0.5rem;*/
}

.referralModal__modalButton{
    margin-left: 0.5rem;
}

.referralModal__modalText{
    width: 10rem;
    /*padding-right: 1rem;*/
}

.tournamentPage__transactionHash{
    cursor: pointer;
}

.tournamentPage__transactionHashLink{
    color: #453df1;
}

.tournamentCard__countdownTimer{
    color: var(--golden);
    /* background-color: rgb(182, 182, 182); */
    font-weight: 500;
    /* border: 1px solid red; */
    padding: 0px 5px;
    border-radius: 30px;
}

.custom-class-name-1{
    /* border-radius: 30px; */
}







/* common */
.ribbon1 {
    width: 133px;
    height: 100px;
    overflow: hidden;
    position: absolute;
  }
  /* .ribbon1::before,
  .ribbon1::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  } */
  .ribbon1 span {
    position: absolute;
    display: block;
    width: 250px;
    padding: 3px 0;
    background-color: var(--golden);
    /* box-shadow: 0 5px 10px rgba(0,0,0,.1); */
    color: #fff;
    font: 600 10px/1 "poppins";
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  

/* top right*/
.ribbon1-top-right {
    top: -10px;
    right: -10px;
  }
  .ribbon1-top-right::before,
  .ribbon1-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon1-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon1-top-right::after {
    bottom: 0;
    right: 0;
  }
  .ribbon1-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
  }

  /* top right*/
.pinned-top-right {
  top: -20px;
  right: -112px;
}

.pinned-top-right::before,
.pinned-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.pinned-top-right::before {
  top: 0;
  left: 0;
}
.pinned-top-right::after {
  bottom: 0;
  right: 0;
}
.pinned-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

.pinned1{
  width: 133px;
  height: 100px;
  overflow: hidden;
  position: absolute;
}
  /* top left*/
.ribbon1-top-left {
    top: -10px;
    left: -10px;
  }
  .ribbon1-top-left::before,
  .ribbon1-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon1-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon1-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon1-top-left span {
    right: -9px;
    top: 9px;
    transform: rotate(-45deg);
  }


/* bottom right*/
.ribbon1-bottom-right {
    bottom: -10px;
    right: -10px;
  }
  .ribbon1-bottom-right::before,
  .ribbon1-bottom-right::after {
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .ribbon1-bottom-right::before {
    bottom: 0;
    left: 0;
  }
  .ribbon1-bottom-right::after {
    top: 0;
    right: 0;
  }
  .ribbon1-bottom-right span {
    left: -9px;
    bottom: 9px;
    transform: rotate(-225deg);
  }
  .tour-button{
    width: 60%;
    padding: 5px; 
    /* margin-left: auto; */
    border-radius: 5px;
    transition: 0.3s all ease-in-out;
    outline: none;
    background-color: var(--golden);
    border: 2px solid var(--golden); 
    font-size:14px;
    color:white;
  }
  .tour-button:hover{
    cursor: pointer;
    transition: 0.3s all ease-in-out;
  }
  .shepherd-header{
    height:50px !important;
    background-color: var(--golden) !important;
  }

  .shepherd-title{
    color:white !important;
  }
  .shepherd-cancel-icon{
    color:white !important;
  }.shepherd-button{
    /* background-color: var(--golden) !important; */
  }

  
.no-tournamnet-text{
  color: black;
  font-weight: 700;
}
