:root {
  --dim-violet-blue: #463df1eb;
  --violet-blue: #453df1;
  --golden: #fea31b;
  --white: #ffffff;
  --black-shade: #071f36;
  --dim-white: #d2e0ee;
  --grey-shade: #4c6781;
  --green: #28ad35;
  --dark-dim-white: #869EB6;
  --black: #000000;
  --light-matte-black: #1e222d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}