.leaderboard-entry {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    align-items: center;
    box-shadow: inset 0px -1px 0px #DBE4EF;
}

.leaderboard-profile-image {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: var(--dim-white);
}

.leaderboard-username {
    max-width: 6.25em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 0.2s all ease-in-out;
}

.leaderboard-username:hover {
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.leaderboard-teamname {
    max-width: 6.25em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 0.2s all ease-in-out;
}

.leaderboard-teamname:hover {
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}